body, html {
    background-color: #2e2e2e;
    font-family: sans-serif; 
    font-weight: 500;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

p{
    line-height: 1.3;
}

span{
    color: #00FF85;
}


ul li::marker {
  color: #00FF85;
}
svg {
    width: 25px;
    height: 25px;
    color: #00FF85;

}
img {
    width: 250px;
    height: 250px;
    border-radius: 8px;
}

.profile {
    box-shadow: 0px 0px 8px rgba(0,255,133,0.75) ;
}
.img_container{
    padding: 16px;

}
.divider {
    height: 2px;
    background-color: #00FF85; 
    width: 100%;
    border: 0;              
    margin: 20px 10px;     
    box-shadow: 0px 0px 8px rgba(0,255,133,0.75) ;  
}

.divider_vertical {
    width: 1px;
    background-color: #00FF85; 
    align-self: stretch;
    border: 0;              
    margin: 20px 0;     
    box-shadow: 0px 0px 8px rgba(0,255,133,0.75) ;   
}

.svg_h1_container{
    display: flex;
    align-items: center;
}


/* navigation section */
header {
    background-color: #2e2e2e;
    color: #00FF85; 
    height: 50px;
    margin: 0;
    padding:16px;
    align-items: center;
    display: flex; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.h-nav {
    flex: 2;
    justify-content: center;
    display: flex;
    font-weight: 600; 
}
.h-nav a{
    color: #999999;
    text-decoration: none;
    padding: 8px;
}
.h-nav a:focus{
    color: #00FF85;
}   
.h-nav a:hover{
    color: #00FF85;
}
.h-logo {
    flex:1;
    margin: 0;
    padding-left: 5%;
    font-weight: 700; 
}

/* Main Content */
section {
    display: flex;
    padding: 16px;
    flex-direction: column;
}
main {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin: 8px 8%;
}

/* homesection */
.home_section{
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.home_section h3{
    font-family: monospace;
    font-size: 18px;
    color: #00FF85;
}

.home_section h1{
    margin-top: 18px; 
    font-size: 56px;  
    color: white;
}

.home_section h2{
    margin-top: 16px; 
    font-size: 48px;  
    color: #bdbdbd;
}
.home_section p{

    margin-top: 16px; 
    font-size: 20px;  
    color: #bdbdbd;
    width: 90%;
}
 

.home_text{
        width: 55%;
    margin: 16px;

}

/* About and skills section */
.about_skills_section {
    flex-direction: row;
    
}

.about_skills_section h1{
    font-family: monospace;
    font-size: 32px;
    color: white;
    padding-left: 8px;

}
.about_skills_section p{
    font-size: 16px;
    color: #bdbdbd;
    padding-left: 16px;
    margin-top: 8px;
    text-align: justify;
}

.about_skills_section ul{
    font-size: 16px;
    color: #bdbdbd;
    padding-left: 16px;
    margin-top: 8px;
    text-align: justify;
    padding-right: 24px;
}
.about_section {
    flex:1
}

.skills_section {
    flex:1
}

.skills_container {
    display: flex;
    padding-left:16px;

}


/* footer */
footer {
    justify-content: center;
    color: #bdbdbd;
    display: flex;
    padding: 18px;
    margin-top: 16px;
    font-size: 12px;
}