body, html {
    background-color: #2e2e2e;
    font-family: sans-serif; 
    font-weight: 500;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 8px;
        box-shadow: 0px 0px 8px rgba(0,255,133,0.75) ;
}
.img_container{
    padding: 16px;

}
.divider {
    height: 1px;
    background-color: #00FF85; 
    width: 100%;
    border: none;              
    margin: 20px 0;            
}
/* navigation section */
header {
    background-color: #2e2e2e;
    color: #00FF85; 
    height: 50px;
    margin: 0;
    padding:16px;
    align-items: center;
    display: flex; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.h-nav {
    flex: 2;
    justify-content: center;
    display: flex;
    font-weight: 600; 
}
.h-nav a{
    color: #999999;
    text-decoration: none;
    padding: 8px;
}
.h-nav a:focus{
    color: #00FF85;
}   
.h-nav a:hover{
    color: #00FF85;
}
.h-logo {
    flex:1;
    margin: 0;
    padding-left: 5%;
    font-weight: 700; 
}

/* Main Content */
section {
    display: flex;
    padding: 16px;
    flex-direction: column;
}
main {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin: 8px 8%;
}

/* homesection */
.home_section{
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.home_section h3{
    font-family: monospace;
    font-size: 18px;
    color: #00FF85;
}

.home_section h1{
    margin-top: 18px; 
    font-size: 56px;  
    color: white;
}

.home_section h2{
    margin-top: 16px; 
    font-size: 48px;  
    color: #bdbdbd;
}
.home_section p{

    margin-top: 16px; 
    font-size: 20px;  
    color: #bdbdbd;
    width: 90%;
}

.home_section span{
    color: #00FF85;
}

.home_text{
        width: 55%;
    margin: 16px;

}

/* footer */
footer {
    justify-content: center;
    color: white;
    display: flex;
    padding: 16px;
    margin-top: 16px;
}